// body {
//     font-family: 'Roboto Slab', sans-serif;
//     color: #eee;
//     // background: #2C1617;
//     // background-image: url(../images/paintings_june_exposition/cuadro_plaza_ramales.jpg);
//     // background-image: url(../images/paintings_june_exposition/cuadro_plaza_ramales.jpg), linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%);
//     background-size: cover;
//     background-position: center;
//     background-attachment: fixed;
// }

// .page__main-title {
//     width: 100%;
//     margin-bottom: 15px;
//     font-size: 31px;
//     text-transform: uppercase;
//     @media all and (min-width: 768px){
//         font: Arial;
//     }
// }

@import "core/_variables.scss";

.images-exposition-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
}

.image-exposition {
    width: 80vw;
    padding-bottom: 10px;

    @media (min-width: 1023px) {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}


.paint__information-container,
.paint__number,
.paint__title,
.paint__dimensions,
.paint__date,
.paint__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $lightGrey;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    @media (min-width: 481px) {
        font-size: 22px;
    }

    @media (min-width: 1023px) {
        font-size: 50px;
    }
}

.paint__dimensions {
    padding-bottom: 20px;
}

.title-exposition, 
.title-list {
    padding: 0px 0px 30px 20px;
    margin-top: 54px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #4A4A4A;

    @media (min-width: 481px) {
        font-size: 46px;
    }


    @media (min-width: 1023px) {
        padding: 30px 0px 40px 50px;
        font-size: 90px;
    }
}

.item-container-list {
    display: flex;
    flex-direction: row;
}

.paint__information-container-list {
    display: flex;
    flex-direction: column;
    color: $lightGrey;
    font-weight: 500;
    text-decoration: none;
    width: 70vw;

    @media (min-width: 481px) {
        width: 80vw;
    }

    @media (min-width: 1023px) {
        width: 80vw;
    }
}

.paint__number-list,
.paint__title-list,
.paint__dimensions-list,
.paint__date-list,
.paint__price-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $lightGrey;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: justify;

    @media (min-width: 481px) {
        font-size: 16px;
        line-height: 1.4;
    }

    @media (min-width: 1023px) {
        font-size: 16px;
    }
}

.image-exposition-list {
    width: 20vw;

    @media (min-width: 481px) {
        font-size: 25px;
    }


    @media (min-width: 1023px) {
        padding: 30px 0px 40px 50px;
        font-size: 30px;
    }
}
