@import "core/_variables.scss";

.item-container-list {
    display: flex;
    flex-direction: row;
}

.paint__information-container-list {
    display: flex;
    flex-direction: column;
    color: $lightGrey;
    font-weight: 500;
    text-decoration: none;
    width: 80vw;

    @media (min-width: 319px) and (max-width: 481px){
        width: 80vw;
    }
    @media (min-width: 481px) and (max-width: 768px){
        width: 90vw;
    }
    @media (min-width: 769px) and (max-width: 1024px){
        width: 100vw;
    }
    @media (min-width: 1025px) {
        width: 100vw;
    }
}

.paint__title-list__number {
    
}
.paint__title-list__name {
    
}
.paint__title-list__date {
    
}
.paint__title-list__measures {
    
}
.paint__title-list__price {
    
}
