@import "core/_variables.scss";


.title-list {
    padding: 0% 0% 14% 5%;
    margin-top: 16%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #4A4A4A;

    @media (min-width: 319px) and (max-width: 374px){
        font-size: 15px;
    }

    @media (min-width: 375px) and (max-width: 481px){
        font-size: 17px;
    }
    @media (min-width: 481px) and (max-width: 768px){
        font-size: 26px;
    }
    @media (min-width: 769px) and (max-width: 1024px){
        font-size: 30px;
    }
    @media (min-width: 1025px) {
        font-size: 34px;
    }
}

.item-container-list {

}

.paint__information-container-list {
    color: $lightGrey;
    font-weight: 500;
    text-decoration: none;
    width: 90vw;
    @media (min-width: 319px) and (max-width: 374px){
        width: 90vw;
    }

    @media (min-width: 375px) and (max-width: 481px){
        width: 90vw;
    }
    @media (min-width: 481px) and (max-width: 768px){
        width: 70vw;
    }
    @media (min-width: 769px) and (max-width: 1024px){
        width: 70vw;
    }
    @media (min-width: 1025px) {
        width: 70vw;
    }
}

.paint__title-list {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}
.paint__title-list__element {
    display: inline;
    text-align: left;
    margin: 0px;
    padding: 0px;
    margin-bottom: 3%;
        @media (min-width: 319px) and (max-width: 374px){
            font-size: 8px;
        }
        @media (min-width: 375px) and (max-width: 481px){
            font-size: 9px;
        }
        @media (min-width: 481px) and (max-width: 768px){
            font-size: 14px;
        }
        @media (min-width: 769px) and (max-width: 1024px){
            font-size: 16px;
        }
        @media (min-width: 1025px) {
            font-size: 20px;
        }
}

.paint__title-list__number {
    width: 9%;
    
}
.paint__title-list__name {
    width: 54%;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}
.paint__title-list__date {
    width: 10%;
    margin: 0px;
    padding: 0px;
    @media (min-width: 319px) and (max-width: 374px){
        font-size: 6px;
    }

    @media (min-width: 375px) and (max-width: 481px){
        font-size: 7px;
    }

    @media (min-width: 481px) and (max-width: 768px){
        font-size: 12px;
    }
    @media (min-width: 769px) and (max-width: 1024px){
        font-size: 14px;
    }
    @media (min-width: 1025px) {
        font-size: 18px;
    }
}
.paint__title-list__measures {
    width: 20%;
    @media (min-width: 319px) and (max-width: 374px){
        font-size: 7px;
    }

    @media (min-width: 375px) and (max-width: 481px){
        font-size: 8px;
    }

    @media (min-width: 481px) and (max-width: 768px){
        font-size: 13px;
    }
    @media (min-width: 769px) and (max-width: 1024px){
        font-size: 15px;
    }
    @media (min-width: 1025px) {
        font-size: 19px;
    }
}
.paint__title-list__price {
    width: 2%;
    text-align: right;
}
