              <section class="about-me-container show-on-scroll">

                <h1 class="title-profile">Manuel Polo</h1>

                  <div class="text-container show-on-scroll">

                        <p class="text-profile-first-paragraphs">
                          Nace en Madrid. Técnico Superior en Artes Aplicadas en la especialidad de diseño y arquitectura interior, actividad que desarrolla profesionalmente con proyectos de interiorismo, diseño de mobiliario, diseño gráfico y perspectivismo de arquitectura. Participa en el proyecto y premios DIM (Diseño de interiores de Madrid).</br></br>
                          A principio de los 80 ingresa en Las Escuelas de Artes Aplicadas de Madrid, inicia su dedicación a la pintura en un amplio contexto de técnicas y tendencias; de la abstracción al hiperrealismo, del retrato al paisaje.</br></br>
                        </p>

                        <p class="text-profile-last-paragraphs">
                          Es el paisaje el principal protagonista de su obra al óleo pero muy especialmente a la acuarela, técnica a la que dedica un profundo estudio desde la escuela romántica europea a la pintura oriental. En 1984 celebra la primera de las 30 exposicioneuales y colectivas realizadas hasta la fecha.</br></br>
                          En 1987 establece su relación profesional con la cultura pública de Galapagar y como profesor inicia y consolida la Escuela Municipal de Pintura de Galapagar.</br></br>
                          En paralelo con la docencia trabaja como coordinador de exposiciones en el centro cultural, proyecta, realiza y colabora en todo tipo de eventos culturales, talleres monográficos, certámenes de arte y promoción de jóvenes artistas y alumnos de la escuela.</br></br>
                          En la actualidad la Escuela de Pintura disfruta de un espacio e infraestructura óptimos que permiten la formación artística de más de 130 alumnos menores y adultos.
                        </p>

                  </div>
<!-- 
                  <div class="image-profile-container show-on-scroll">

                    <img class="image-profile"
                      src="assets/images/img_pintor_acuarelas_manuel_polo_1.png" alt="foto-perfil">

                  </div> -->

                  <div class="links-profile-container">

                    <a class="link-profile" href="../contact-me.html">Contáctame</a>

                    <a class="link-profile" href="../projects.html">Conoce mi obra</a>

                  </div>

                  <div class="cover-social">

                        <a href="https://www.instagram.com/polo_acuarealas/">
                          <img class="social-icon show-on-scroll"
                               src="assets/images/instagram-icon.png"
                               alt="instagram-icon">
                        </a>
                        <a href="https://www.facebook.com/ManuelPoloAP/">
                          <img class="social-icon show-on-scroll"
                               src="assets/images/facebook-logo.png"
                               alt="facebook-icon">
                        </a>
                  </div>

            </section>


