
<footer class="footer show-on-scroll">
    <h3 class="title-footer">Manuel Polo, pintor de acuarelas</h3>
    <a class="mail-footer" href="">mpolo1@hotmail.es</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/polo_acuarelas/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.facebook.com/ManuelPoloAP/">Facebook</a>
    </div>
    <small class="footer-credits-text">Todas las obras mostradas en esta web son propiedad original del artista Manuel Polo Sánchez &copy;2020 </small>

  </footer>
