
<footer class="footer show-on-scroll">
    <h3 class="title-footer">Pintura y Docencia</h3>
    <a class="mail-footer" href="">mpolo1@hotmail.es</a>
    <p class="footer-credits-text">Manuel Polo Sánchez &copy;2020 </p>
    <div class="container-footer">
      <a target="_blank" href="https://www.instagram.com/polo_acuarelas/">
          <img class="social-icon show-on-scroll" src="assets/images/icon_instagram_white.png" alt="instagram-icon">
      </a>
      <a target="_blank" href="https://www.facebook.com/ManuelPoloAP/">
        <img class="social-icon show-on-scroll" src="assets/images/icon_facebook_white.png" alt="facebook-logo">
    </a>
    <a target="_blank" href="mailto:mpolo1@hotmail.es">
      <img class="social-icon show-on-scroll" src="assets/images/icon_email_white.png" alt="facebook-logo">
  </a>
  </div>
  </footer>
