<header>
  <nav class="menu">
    <!-- <div class="menu-logo-container">
      <a href="index.html">Inicio</a>
    </div> -->

    <ul class="menu-list">
      <li><a class="menu-element first-element" href="index.html">Inicio</a></li>
      <li><a class="menu-element" href="exposition.html">Exposición</a></li>
      <li><a class="menu-element" href="list.html">Lista de Obras</a></li>
      <li><a class="menu-element" href="bio.html">Bio</a></li>
      <li><a class="menu-element last-element" href="contact-me.html">Contacto</a></li>
    </ul>
  </nav>

</header>
