<main class="page__main">
  <div class="page__wrapper">
    <h1 class="page__main-title">Manuel Polo</h1>
    <h2 class="page__main-subtitle">Pintor Acuarelas</h2>
  </div>
</main>

<main class="page-body">
  <section class="cover show-on-scroll">
      <div class="cover-container-text">
          <h1 class="cover-title show-on-scroll">Pintor de Acuarelas</h1>
          <p class="cover-paragraph show-on-scroll">Manuel Polo</p>
              <div class="cover-social">
                  <a target="_blank" href="https://www.instagram.com/polo_acuarelas/">
                      <img class="social-icon show-on-scroll" src="assets/images/instagram-icon.png" alt="instagram-icon">
                  </a>
              </div>
      </div>
  </section>
</main>
