<aside class="page-body">
  <section class="cover show-on-scroll">
      <div class="cover-container-text">
          <h1 class="title-h1 cover-title show-on-scroll">Manuel Polo</h1>
          <h2 class="subtitle-h2 cover-paragraph show-on-scroll">Pintor Acuarelista</h2>
          <button class="button-cta">Ver la exposición</button>
              <div class="cover-social">
                  <a target="_blank" href="https://www.instagram.com/polo_acuarelas/">
                      <img class="social-icon show-on-scroll" src="assets/images/instagram-icon.png" alt="instagram-icon">
                  </a>
                  <a target="_blank" href="https://www.facebook.com/ManuelPoloAP/">
                    <img class="social-icon show-on-scroll" src="assets/images/facebook-logo.png" alt="facebook-logo">
                </a>
              </div>
      </div>
  </section>
</aside>
