<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/bio.css" />
  </head>
<section class="page__main__bio">
      <h3 class="page__main_title">Sobre Mi</h3>
      <div>
        Nace en Madrid. Técnico Superior en Artes Aplicadas en la especialidad de diseño y arquitectura interior, actividad que desarrolla profesionalmente con proyectos de interiorismo, diseño de mobiliario, diseño gráfico y perspectivismo de arquitectura. Participa en el proyecto y premios DIM (Diseño de interiores de Madrid)
      </div> 
      <div>
        A principio de los 80 ingresa en Las Escuelas de Artes Aplicadas de Madrid, inicia su dedicación a la pintura en un amplio contexto de técnicas y tendencias; de la abstracción al hiperrealismo, del retrato al paisaje.
      </div> 
      <div>
        Es el paisaje el principal protagonista de su obra al óleo pero muy especialmente a la acuarela, técnica a la que dedica un profundo estudio desde la escuela romántica europea a la pintura oriental. En 1984 celebra la primera de las 30 exposiciones individuales y colectivas realizadas hasta la fecha.
      </div> 
      <div>
        En 1987 establece su relación profesional con la cultura pública de Galapagar y como profesor inicia y consolida la Escuela Municipal de Pintura de Galapagar. 
      </div>
      <div>
        En paralelo con la docencia trabaja como coordinador de exposiciones en el centro cultural, proyecta, realiza y colabora en todo tipo de eventos culturales, talleres monográficos, certámenes de arte y promoción de jóvenes artistas y alumnos de la escuela.
      </div> 
      <div>
        En la actualidad la Escuela de Pintura disfruta de un espacio e infraestructura óptimos que permiten la formación artística de más de 130 alumnos menores y adultos.
      </div> 
            
    </section>

      