<!DOCTYPE html>
<html>

  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">
        <div class="contact-me-container show-on-scroll">
            <h1 class="title-contact show-on-scroll">¿Qué cuadros te interesan?</h1>
            <p class="contact__text">Si estás interesado en alguna obra de la exposición o quieres ver más obras, estilos, un encargo o cualquier otra cosa no dudes en ponerte en contacto conmigo por email, teléfono o WhatsApp</p>
            <a class="subtitle-contact show-on-scroll" href="mailto:mpolo1@hotmail.es"><span class="contact-me-subtitle italic">mpolo1@hotmail.es</span></a><br><br></span> 
            <a class="subtitle-contact show-on-scroll" href="mailto:mpolo1@hotmail.es"><span class="contact-me-subtitle italic">sakelton33@gmail.com</span></a><br><br></span> 
            <a class="subtitle-contact show-on-scroll""><span class="contact-me-subtitle italic">+34 600 86 31 86</span></a>
          </div>
    </main>
</div>

<partial src="_footer.html" ></partial>

  <script src="assets/js/main.js"></script>
</body>

</html>





