<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/contact.css" />
  </head>
    <section class="page__main__contact">
        <h3 class="page__main_title">Contacto</h3>
        <button class="button" title="hablamos" type="button">¿Hablamos?</button>
      </section>
</html>
