<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>
<body>
  <partial src="_header.html" ></partial>
  <div class="wrapper">
    <main class="page-body">
        <div class="projects-container images-exposition-container">
            <h1 class="title-list">PUNTO Y SEGUIDO</h1>
            <div class="item-container-list">

            </a>                <div class="paint__information-container-list" id="1">
                <h4 class="paint__title-list">01, Donosti. Paseo de la concha, 2019, 210 x 285, 300€</h4>
            </div>
            </div>
            <div class="item-container-list">
        </a>
            <div class="paint__information-container-list" id="2">
                <h4 class="paint__title-list">02, Gredos. Parador, 2018, 360 x 265, 250€</h4>
            </div>
            </div>
            <div class="item-container-list">
        </a>
            <div class="paint__information-container-list" id="3">
                <h4 class="paint__title-list">03, Madrid. Prohibido Madrid I, 2019, 290 x 385, 400€</h4>
            </div>
            </div>
            <div class="item-container-list">
        </a>
            <div class="paint__information-container-list" id="4">
                <h4 class="paint__title-list">04, Madrid. Prohibido Madrid II, 2019, 385 x 290, 400€</h4>
            </div>
            </div>
            <div class="item-container-list">
        </a>
            <div class="paint__information-container-list" id="5">
                <h4 class="paint__title-list">05, Madrid. Paseo, 2019, 175 x 285, 250€</h4>
            </div>
            </div>
            <div class="item-container-list">
        </a>
            <div class="paint__information-container-list" id="6">
                <h4 class="paint__title-list">06, Madrid. Gran Vía viva, Callao, 2019, 360 x 250, 250€</h4>
            </div>
            </div>
            <div class="item-container-list">
        </a>
            <div class="paint__information-container-list" id="7">
                <h4 class="paint__title-list">07, Madrid. G. Vía viva, Diana cazadora, 2019, 385 x 290, 300€</h4>
            </div>
            </div>
            <div class="item-container-list">
        </a>
            <div class="paint__information-container-list" id="8">
                <h4 class="paint__title-list">08, Bar. Terraza Santa Eugenia, 2019, 385 x 290, 350€</h4>
            </div>
            </div>
            <div class="item-container-list">
        </a>
            <div class="paint__information-container-list" id="9">
                <h4 class="paint__title-list">09, Madrid. G. Vía viva, metro callao, 2020, 385 x 290, 250€</h4>
            </div>
            </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="10">
                    <h4 class="paint__title-list">10, Zarautz. Ciclostop, 2019, 210 x 285, 250€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="11">
                    <h4 class="paint__title-list">11, Ciclocenit, 2019, 210 x 285, 250€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="12">
                    <h4 class="paint__title-list">12, Ski rojo, 2019, 210 x 285, 250€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="13">
                    <h4 class="paint__title-list">13, Bar. Terraza Aveiro, 2019, 290 x 385, 300€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="14">
                    <h4 class="paint__title-list">14, Madrid. Ramales, 2018, 570 x 380, 750€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="15">
                    <h4 class="paint__title-list">15, Albarracín, 2018, 570 x 380, 750€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="16">
                    <h4 class="paint__title-list">16, Bosque invierno I, 2018, 385 x 290, 300€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="17">
                    <h4 class="paint__title-list">17, Bosque invierno II, 2018, 360 x 235, 250€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="18">
                    <h4 class="paint__title-list">18, Londres, 2018, 290 x 385, 300€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="19">
                    <h4 class="paint__title-list">19, Madrid. Apunte Goya, 2018, 195 x 195, 150€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="20">
                    <h4 class="paint__title-list">20, Madrid. Apunte O´Donell, 2018, 215 x 185, 150€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="21">
                    <h4 class="paint__title-list">21, Avila. El Barco I, 2018, 290 x 385, 350€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="22">
                    <h4 class="paint__title-list">22, Avila. El Grande I, 2018, 290 x 385, 350€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="23">
                    <h4 class="paint__title-list">23, Gredos. Amanecer en Barajas, 2018, 385 x 290, 350€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="24">
                    <h4 class="paint__title-list">24, Chinchón. Terraza, 2018, 570 x 380, 750€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="25">
                    <h4 class="paint__title-list">25, Bar. En la barra, 2019, 375 x 475, 600€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="26">
                    <h4 class="paint__title-list">26, Galgo azul, 2019, 385 x 290, 350€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="27">
                    <h4 class="paint__title-list">27, Galgo rojo, 2019, 386 x 290, 350€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="28">
                    <h4 class="paint__title-list">28, Avila. Catedral I, 2018, 385 x 290, 350€</h4>
                </div>
                </div>
                <div class="item-container-list">

            </a>
                <div class="paint__information-container-list" id="29">
                    <h4 class="paint__title-list">29, Teruel. Plaza torico, 2020, 385 x 290, 350€</h4>
                </div>
                </div>
        </div>
    </main>

</div>

<partial src="_footer.html" ></partial>

  <script src="assets/js/main.js"></script>
</body>
</html>
