<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/work.css" />
  </head>

<section class="obra_section">
    <div id="obra"></div>
      <h3 class="page__main_title" id="my_work">Obra</h3>
       <article class="picture_box">
          <img class="picture" src="" alt="navarredonda_nevada">
          <h4 class="picture_title">Navarredonda nevada</h4>
          <h5 class=¨picture_type>Acuarela</h5>
        </article>
        <article class="picture_box">
            <img class="picture" src="" alt="">
            <h4 class="picture_title"></h4>
            <h5 class=¨picture_type></h5>
        </article>
  </section>
</html>
